
@model IEnumerable<RetroRent.Models.Game>

@{
    ViewBag.Title = "Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Games</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Game</th>
        </tr>
    </thead>
    <tbody>
        >
        @foreach (var game in Model)
        {
            <tr>
                <td>@game.Name</td>
            </tr>
        }
    </tbody>
</table>

